*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 250px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  box-shadow: 0px 2px 50px #424242;

}

h1 {
  color: #2E236C;
  font-family: "Poppins", sans-serif;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: 50px;
  margin: 0;
  outline: 0;
  padding: 13px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border-radius: 10px;
}

textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: 130px;
  margin: 0;
  outline: 0;
  padding: 13px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border-radius: 10px;
}


select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.error-message {
  color: red;
  font-size: 12px;
  display: inline;
}

label {
  display: block;
}

label.light {
  font-weight: 300;
  display: inline;
}


@media screen and (min-width: 350px) {

  form {
    max-width: 350px;
  }

}