&>.panel-heading {
  text-transform: uppercase;
  border-radius: 0;
  background: blue;
  color: #fff;
  border-color: red;
}

&>.panel-footer {
  text-transform: uppercase;
  border-radius: 0;
  background: blue;
  color: #fff;
  border-color: green;
}

@mixin box-shadow(red) {
  box-shadow: 0px 3px 10px ($color);
}

.panel {
  @include border-radius(3px);
  border: none;
}

.btn {
  margin-left: 10px;
}

.widthTable {
  height: auto;
  width: 1000px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.good {
  border-radius: 5px;
  border: #2E236C solid 2px;
  margin-top: 50px;
}

table {
  height: auto;
  margin-bottom: 0px;
}


table tr th {
  background-color: #2E236C;
  color: white;
}

.bgcolor {
  background-color: #2E236C;
  color: white;
}



::ng-deep .carousel-indicators li {
  display: none;
}

table tr td button {
  height: 40px;
  width: 75px;
  text-align: center;
}

table tr td {
  border: #2e236cbd solid 1px;
}

.not {
  background-color: white;
  color: black;
  margin-left: 50%;
  margin-right: auto;
  width: 100%;
  height: 30px;
  text-align: center;
  border: none;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

::ng-deep .carousel-indicators li {
  display: none;
}

.card {
  border: 2px solid #2E236C;
  border-radius: 10px;
  box-shadow: 00px 00px 10px black;
}