*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  height: auto;
  padding-top: 10px;
}

form {
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  box-shadow: 0px 2px 50px #424242;
}

h1 {
  color: #2E236C;
  font-family: "Poppins", sans-serif;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

input[type="text"],
input[type="date"],
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: 40px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 80%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border-radius: 5px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.button-container {
  margin-bottom: 20%;
}

.error-message {
  color: red;
  font-size: 12px;
  display: inline;
}


legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #2E236C;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 800px) {
  form {
    max-width: 800px;
  }
}

#form1 {
  width: 33.2%;
  height: auto;
  margin-bottom: 25px;
}

#form2 {
  width: 33.2%;
  height: 300px;
}

#form3 {
  width: 33.2%;
  height: 300px;
}