<div class="container">
    <form [formGroup]="addProjectForm" (ngSubmit)="addProject()" style="padding-bottom: 40px;">
        <div>
            <h1>Add Project</h1>
        </div>
        <div class="row">
            <div id="form1" class="col-4">
                <div id="form">
                    <legend><span class="number">1</span>Project Details</legend><br>
                    <label for="title" class="light">Project Title<span style="color: red;">*</span></label><br>
                    <input type="text" placeholder="Project Title" formControlName="projectTitle">
                    <div *ngIf="projectTitle.touched && projectTitle.invalid">
                        <div *ngIf="projectTitle.errors['required']">
                            <p class="error-message">*Project title is required</p>
                        </div>
                    </div>
                    <br><br>

                    <label for="description" class="light">Project Description<span
                            style="color: red;">*</span></label><br>
                    <input type="text" placeholder="Project Description" formControlName="projectDescription">
                    <div *ngIf="projectDescription.touched && projectDescription.invalid">
                        <div *ngIf="projectDescription.errors['required']">
                            <p class="error-message">*Project Description is required</p>
                        </div>
                    </div>
                    <br><br>

                    <label for="startDate" class="light">Start Date<span style="color: red;">*</span></label><br>
                    <input type="date" formControlName="startDate">
                    <div *ngIf="startDate.touched && startDate.invalid">
                        <div *ngIf="startDate.errors['required']">
                            <p class="error-message">*Start Date is required</p>
                        </div>
                        <div *ngIf="addProjectForm.get('startDate').hasError('pastDate')">
                            <p class="error-message">*Please select a future date.</p>
                        </div>
                    </div>
                    <br><br>

                    <label for="endDate" class="light">End Date<span style="color: red;">*</span></label><br>
                    <input type="date" formControlName="endDate">
                    <div *ngIf="endDate.touched && endDate.invalid">
                        <div *ngIf="endDate.errors['required']">
                            <p class="error-message">*End Date is required</p>
                        </div>
                    </div>
                    <div *ngIf="startDate.value>endDate.value && endDate.dirty">
                        <p class="error-message">*Enddate should be after startdate</p>
                    </div>
                </div>
            </div>
            <div id="form2" class="col-4">
                <div id="form">
                    <legend><span class="number">2</span>Technical Details</legend><br>

                    <label for="frontEnd" class="light">Front End Tech Stack<span
                            style="color: red;">*</span></label><br>
                    <input type="text" placeholder="Front End Tech Stack" formControlName="frontEndTechStack">
                    <div *ngIf="frontEndTechStack.touched && frontEndTechStack.invalid">
                        <div *ngIf="frontEndTechStack.errors['required']">
                            <p class="error-message">*Front End Tech Stack is required</p>
                        </div>
                    </div><br><br>

                    <label for="backend" class="light">Backend Tech Stack<span style="color: red;">*</span></label><br>
                    <input type="text" placeholder="Backend Tech Stack" formControlName="backendTechStack">
                    <div *ngIf="backendTechStack.touched && backendTechStack.invalid">
                        <div *ngIf="backendTechStack.errors['required']">
                            <p class="error-message">*Backend Tech Stack is required</p>
                        </div>
                    </div><br><br>

                    <label for="databaseStack" class="light">Database<span style="color: red;">*</span></label><br>
                    <input type="text" placeholder="DataBase" formControlName="databaseStack">
                    <div *ngIf="databaseStack.touched && databaseStack.invalid">
                        <div *ngIf="databaseStack.errors['required']">
                            <p class="error-message">*DataBase is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="form3" class="col-4">
                <div id="form">
                    <legend><span class="number">3</span>Status</legend><br>

                    <label for="status" class="light">Status<span style="color: red;">*</span></label><br>
                    <select name="Select Status" formControlName="status"><br>
                        <option value="" disabled>Select Status</option>
                        <option value="Planning">Planning</option>
                        <option value="In Progress">In Progress</option>
                    </select>
                    <br>
                    <div *ngIf="status.touched && status.invalid">
                        <div *ngIf="status.errors['required']">
                            <p class="error-message">*Status is required</p>
                        </div>
                    </div><br>
                    <button type="submit" [disabled]="addProjectForm.invalid" data-bs-toggle="modal"
                        data-bs-target="#profileModal" class="btn btn-success"
                        style="margin-right: 10px;width: 40%;border-radius: 5px;height:50px;">Submit</button>
                    <button routerLink="/viewManagerProject" class="btn btn-danger"
                        style="margin-right: 10px;width: 40%;border-radius: 5px;height: 50px;">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

`
<div class="modal fade" id="profileModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style=" width: 25%;">
        <div class="modal-content">
            <div class="modal-body" style="background-color:  #e8eeef; border-radius: 5px;">

                <div *ngIf="flag">
                    <p style="margin-left: 10%; font-weight: bold;">Project Added Successfully!</p>
                    <button data-bs-dismiss="modal" class="btn btn-success" style="margin-left:40% ;width:20%;"
                        routerLink="/viewManagerProject" data-bs-dismiss="modal">Ok</button>
                </div>

                <div *ngIf="exist">
                    <p style="margin-left: 10%; font-weight: bold;">Project Already existing</p>
                    <button data-bs-dismiss="modal" class="btn btn-success"
                        style="margin-left:40% ;width:20%;">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>