&>.panel-heading {
  text-transform: uppercase;
  border-radius: 0;
  background: blue;
  color: #fff;
  border-color: red;
}

&>.panel-footer {
  text-transform: uppercase;
  border-radius: 0;
  background: blue;
  color: #fff;
  border-color: green;
}

@mixin box-shadow(red) {
  box-shadow: 0px 3px 10px ($color);
}

.panel {
  @include border-radius(3px);
  border: none;
}

.button {
  margin-left: 10px;
}

.widthTable {
  height: auto;
  width: max-content;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.good {
  border-radius: 5px;
  border: #2E236C solid 2px;
  margin-top: 50px;
}

table {
  width: 1000px;
  height: auto;
  margin-bottom: 0px;
}

table tr th {
  background-color: #2E236C;
  color: white;
}

table tr td button {
  height: 40px;
  width: 75px;
  text-align: center;
}

table tr td {
  border: #2e236cbd solid 1px;
}

.not {
  background-color: white;
  color: black;
  margin-left: 50%;
  margin-right: auto;
  width: 100%;
  height: 30px;
  text-align: center;
  border: none;
}

textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: 100px;
  margin: 0;
  outline: 0;
  padding: 13px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border-radius: 10px;
}

h1 {
  color: #2E236C;
  font-family: "Poppins", sans-serif;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

#isTag {
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  box-shadow: 0px 2px 50px #424242;
}